---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Simply Food. Pure Taste.</h1>
			<p>
				Welcome to our kitchen space. We believe food should be simple,
				light, and honest. Explore our recipes, stories, and ideas — all
				made to inspire your everyday meals.
			</p>
			<h2>Go to Blog</h2>
			<div>
				<span>Click It:</span>
				<a href="/blog">Food blog</a>
			</div>
			<h2>Go to About us</h2>
			<div>
				<span>Click It:</span>
				<a href="/about">About us</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	a {
		text-decoration: none;
		font-size: 160%;
		color: black;
	}
	span {
		font-family: "Times New Roman", Times, serif;
		font-size: 140%;
	}
</style>
